@tailwind base
@tailwind components
@tailwind utilities
@font-face
  font-family: 'postnobillscolumbo'
  src: url('./webfonts/postnobillscolombo_regular_macroman/postnobillscolombo-regular-webfont.woff')
  src: url('./webfonts/postnobillscolombo_bold_macroman/postnobillscolombo-bold-webfont.woff')
@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap')
@import url('https://fonts.googleapis.com/css2?family=Ropa+Sans&display=swap')

html,
body
  padding: 0
  margin: 0
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
  Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif
  font-size: 16px
  height: 100%

#__next
  height: 100%

.layout
  display: grid
  grid-template-rows: auto 1fr auto
  height: 100%

a
  color: inherit
  text-decoration: none

*
  box-sizing: border-box

h1
  font-size: 72px
  line-height: 72px
  text-transform: capitalize

h2
  font-size: 60px
  text-transform: capitalize

h3
  font-size: 48px
  text-transform: capitalize
h4
  font-size: 36px
  text-transform: capitalize
h5
  font-size: 24px
  text-transform: capitalize

.header
  height: 527px
  background-color: red

.transparent-layer
  position: absolute
  left: 0
  top: 0
  height: 100%
  width: 100%
  background-color: #000000
  opacity: .5

.count-text
  font-size: 200px

// .test
//   white-space: pre

.login
  height: 600px
  width: 600px
  border-radius: 12px

.btn
  display: flex
  justify-content: center
  align-items: center
  cursor: pointer
